*.pbo
*.biprivatekey

/95th-Legion-Main-Rework/.hemttout
/95th-Legion-Main-Rework/releases
95th-Legion-Main-Rework/releases/*
/95th-Legion-Main-Rework/keys
95th-Legion-Main-Rework/keys/*

/95th-Legion-Extras/.hemttout
/95th-Legion-Extras/releases
95th-Legion-Extras/releases/*
/95th-Legion-Extras/keys
95th-Legion-Extras/keys/*

/95th-Legion-Server/.hemttout
/95th-Legion-Server/releases
95th-Legion-Server/releases/*
/95th-Legion-Server/keys
95th-Legion-Server/keys/*